
.tools-panel {
  height: 35px;
  display: flex;
  align-items: center;
  margin-left: 65px;

  &__wrap {
    display: flex;
    align-items: center;
  }

  &__size {
    width: 40px;
  }

  label {
    margin: 0 5px;
  }
}
