@import "../../utils/variables";

.topbar {
  width: 100%;
  height: $topbar-height;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3);
  z-index: 5;


  &__main {
    height: 35px;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
  }

  &__file {
    margin-left: 15px;
    border: none;
    background: transparent;
    font-size: 1.2rem;
    cursor: pointer;
  }

  &__btn {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-size: cover;
    border: none;
    margin-left: 20px;
  }
  &__save {
    background: url("../../assets/save.svg") no-repeat center center;
  }
  &__undo {
    background: url("../../assets/undo.svg") no-repeat center center;
  }
  &__redo {
    background: url("../../assets/redo.svg") no-repeat center center;
  }
}
